<!DOCTYPE html>
<html xmls="http://www.h3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listagem</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="panel-default">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Listagem de Materias</h1>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table
						class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome </th>
								<th></th>
							</tr>
							
							<tbody>
								<tr th:each="materia : ${materias}">
								<td th:text="${materia.id}"></td>
								<td th:text="${materia.nome}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary" th:href="@{/materia/alterar/{idMateria}(idMateria=${materia.id})}">ALTERAR</a>
									<a class="btn btn-sm btn-danger" th:href="@{/materia/excluir/{idMateria}(idMateria=${materia.id})}">EXCLUIR</a>
								</div>
							</td>
							</tr>
							</tbody>
					</table>
				</div>
			</div>
		</div>
		<a class="btn btn-sm btn-success" th:href="@{/materia/cadastrar}"> Cadastrar Nova Materia</a>
	</div>
</body>
</html>